
AxInterop.ShockwaveFlashObjects.dll
AxInterop.WMPLib.dll
Bilanco/101.bln
Bilanco/102.bln
Bilanco/103.bln
Bilanco/104.bln
Bilanco/111.bln
Bilanco/112.bln
Bilanco/113.bln
Bilanco/114.bln
Bilanco/121.bln
Bilanco/122.bln
Bilanco/123.bln
Bilanco/124.bln
Bilanco/131.bln
Bilanco/132.bln
Bilanco/133.bln
Bilanco/134.bln
Bilanco/141.bln
Bilanco/142.bln
Bilanco/143.bln
Bilanco/144.bln
Bilanco/151.bln
Bilanco/152.bln
Bilanco/153.bln
Bilanco/154.bln
Bilanco/161.bln
Bilanco/162.bln
Bilanco/164.bln
Bilanco/171.bln
Bilanco/172.bln
Bilanco/173.bln
Bilanco/174.bln
Bilanco/181.bln
Bilanco/182.bln
Bilanco/184.bln
Bilanco/191.bln
Bilanco/192.bln
Bilanco/193.bln
Bilanco/194.bln
Bilanco/201.bln
Bilanco/202.bln
Bilanco/203.bln
Binance.Net.dll
Binance.Net.xml
ChartData/IMKBH/G/IMKBH'AKBNK.G
ChartData/IMKBH/G/IMKBH'ANHYT.G
ChartData/IMKBH/G/IMKBH'ANSGR.G
ChartData/IMKBH/G/IMKBH'ARCLK.G
ChartData/IMKBH/G/IMKBH'ASELS.G
ChartData/IMKBH/G/IMKBH'BJKAS.G
ChartData/IMKBH/G/IMKBH'CCOLA.G
ChartData/IMKBH/G/IMKBH'DOHOL.G
ChartData/IMKBH/G/IMKBH'EREGL.G
ChartData/IMKBH/G/IMKBH'FENER.G
ChartData/IMKBH/G/IMKBH'GARAN.G
ChartData/IMKBH/G/IMKBH'GSRAY.G
ChartData/IMKBH/G/IMKBH'HALKB.G
ChartData/IMKBH/G/IMKBH'ISCTR.G
ChartData/IMKBH/G/IMKBH'KCHOL.G
ChartData/IMKBH/G/IMKBH'KOZAA.G
ChartData/IMKBH/G/IMKBH'KRDMD.G
ChartData/IMKBH/G/IMKBH'MGROS.G
ChartData/IMKBH/G/IMKBH'NTHOL.G
ChartData/IMKBH/G/IMKBH'PETKM.G
ChartData/IMKBH/G/IMKBH'SAHOL.G
ChartData/IMKBH/G/IMKBH'TAVHL.G
ChartData/IMKBH/G/IMKBH'TCELL.G
ChartData/IMKBH/G/IMKBH'THYAO.G
ChartData/IMKBH/G/IMKBH'TOASO.G
ChartData/IMKBH/G/IMKBH'TSPOR.G
ChartData/IMKBH/G/IMKBH'VAKBN.G
ChartData/IMKBH/G/IMKBH'YKBNK.G
ChartData/IMKBH/G/IMKBH'ZOREN.G
Config/_Kanal2.txt
Config/_Semboller.Txt
Config/BilancoFormatBanka.txt
Config/BilancoFormatSigorta.txt
Config/BilancoFormatSirket.txt
Config/BilancoYuzeysel.Txt
Config/BistMarket.Txt
Config/BistSeri.txt
Config/BolunmeOrani.txt
Config/Borclar1.Txt
Config/BrutTakas.txt
Config/DayanakOpsiyon.txt
Config/DayanakVarant.txt
Config/DisTicaret1.Txt
Config/DosyaTransferi.Txt
Config/duyuru.htm
Config/Endekslerim.001
Config/Enflasyon.Txt
Config/hakkimizda.htm
Config/hakkimizda_dosyalar/image001.png
Config/hakkimizda_dosyalar/image002.png
Config/HucreselYardim.pdf
Config/iDealPortfoy.pdf
Config/idealtanitim.pdf
Config/ImkbEndeksler.txt
Config/ImkbEndeksSenetler.txt
Config/InterbankBest.Txt
Config/Istihdam.Txt
Config/Kurumlar.001
Config/Kurumlar_Yedek_BuyukHarf.001
Config/Kurumlar_Yedek_KucukHarf.001
Config/PortfoyUyari.htm
Config/saatler.txt
Config/Sektorler.txt
Config/SermayeArtis.001
Config/Sistem_Klavuz.pdf
Config/sozlesme.Txt
Config/TakasGrup.Txt
Config/takvim.csv
Config/tooltip.txt
Config/TradeKurumlar.Txt
Config/videolar.txt
Config/yabancigunluk.001
CountryFlags/abd.png
CountryFlags/almanya.png
CountryFlags/Arjantin.png
CountryFlags/Avustralya.png
CountryFlags/Avusturya.png
CountryFlags/Belçika.png
CountryFlags/Birlesikkrallýk.png
CountryFlags/brezilya.png
CountryFlags/danimarka.png
CountryFlags/eurobölgesi.png
CountryFlags/Finlandiya.png
CountryFlags/fransa.png
CountryFlags/GüneyKore.png
CountryFlags/Hindistan.png
CountryFlags/hollanda.png
CountryFlags/ingiltere.png
CountryFlags/iran.png
CountryFlags/ispanya.png
CountryFlags/israil.png
CountryFlags/isveç.png
CountryFlags/isviçre.png
CountryFlags/italya.png
CountryFlags/japonya.png
CountryFlags/kanada.png
CountryFlags/Luxemburg.png
CountryFlags/Macaristan.png
CountryFlags/meksika.png
CountryFlags/none.png
CountryFlags/norveç.png
CountryFlags/portekiz.png
CountryFlags/romanya.png
CountryFlags/rusya.png
CountryFlags/suriye.png
CountryFlags/türkiye.png
CountryFlags/Yenizellanda.png
CountryFlags/yunanistan.png
CountryFlags/çin.png
CountryFlags/ýrak.png
CryptoExchange.Net.dll
CryptoExchange.Net.xml
Fonts/ariblk.ttf
Fonts/calibri.ttf
Fonts/calibrib.ttf
Fonts/calibrii.ttf
Fonts/calibriz.ttf
Fonts/consola.ttf
Fonts/consolab.ttf
Fonts/consolai.ttf
Fonts/consolaz.ttf
Fonts/cour.ttf
Fonts/courbd.ttf
Fonts/courbi.ttf
Fonts/couri.ttf
Fonts/FRADM.TTF
Fonts/FRADMCN.TTF
Fonts/FRADMIT.TTF
Fonts/FRAHV.TTF
Fonts/FRAHVIT.TTF
Fonts/framd.ttf
Fonts/FRAMDCN.TTF
Fonts/framdit.ttf
Fonts/LHANDW.TTF
Fonts/segoeui.ttf
Fonts/segoeuib.ttf
Fonts/segoeuii.ttf
Fonts/segoeuil.ttf
Fonts/segoeuiz.ttf
Fonts/seguisb.ttf
Fonts/tahoma.ttf
Fonts/tahomabd.ttf
Fonts/webdings.ttf
Fonts/wingding.ttf
Fonts/WINGDNG2.TTF
Fonts/WINGDNG3.TTF
Guncellemeler/oku_versiyon.txt
Icon/alarm.png
Icon/altin.png
Icon/araclar.png
Icon/baglanti.png
Icon/baglanti3.png
Icon/banka.png
Icon/bilanco.png
Icon/binance.png
Icon/Bitcoin.png
Icon/cizilen.png
Icon/dagilim.png
Icon/defter.png
Icon/degisim.png
Icon/derinlik.png
Icon/derinlikBE.png
Icon/detay.png
Icon/detayBE.png
Icon/dolar.png
Icon/download.png
Icon/dunya.png
Icon/duyurular.png
Icon/ekran.png
Icon/ekranBE.png
Icon/ekrantemizle.png
Icon/emir.png
Icon/emrimnerde.png
Icon/endekslerim.png
Icon/endustri.png
Icon/exit.png
Icon/fx.png
Icon/grafik.png
Icon/grafikBE.png
Icon/grid.png
Icon/haber.png
Icon/hacim.png
SembolListeleri/Banka Gise Euro
SembolListeleri/Banka Gise Usd
SembolListeleri/Banka-EuroKotasyon
SembolListeleri/EURO-Parite
SembolListeleri/FutbolHisseleri
SembolListeleri/Interbank-Euro
SembolListeleri/Interbank-USD
SembolListeleri/Kuyumcular
SembolListeleri/Parite USD
SembolListeleri/USD-Parite
SembolListeleri/YILDIZPAZAR
SuperSocket.ClientEngine.dll
Tcmb/Tcmb.001
uzakyardim.exe
WebSocket4Net.dll
zlib.dll
zlib64.dll
SembolListeleri/ANAPAZAR
SembolListeleri/ALTPAZAR
QuantRiskLib.dll
pltmd5.dll
lib.cs.bak
Media/Interop.WMPLib.dll
NDde.dll
NDde.xml
net472.exe
netstandard.dll
Newtonsoft.Json.dll
Newtonsoft.Json.xml
nsoftware.IPWorks.dll
nsoftware.System.dll
ParaViop/nsoftware.IPWorks.dll
ParaViop/nsoftware.IPWorks.System.dll
ParaViop/Para.exe
ParaViop/Para.ico
ParaViop/Semboller.Txt
Patern/AktifPatern.Txt
Patern/Chart_grafik-DOLGU-siyah.001
Patern/Chart_Grafik-klasik-beyaz.001
Patern/Chart_Grafik-klasik.001
Patern/Chart_Grafik-MovingAverage-7.001
Patern/Chart_grafik-siyah.001
Patern/Chart_Siyah Klasik- Mov.A-RSI-Volume.001
Patern/Chart_Siyah Klasik- Mov.A-Volume.001
Patern/Chart_Siyah Klasik-RSI.001
Patern/Chart_Siyah Klasik.001
Patern/DerinlikImkb_01.001
Patern/DerinlikImkb_Beyaz-PITE.001
Patern/DerinlikImkb_beyaz-tahta.001
Patern/DerinlikImkb_Derinlik-Mini.001
Patern/DerinlikImkb_Derinlik_Klasik_1.001
Patern/DerinlikImkb_klasik-beyaz.001
Patern/DerinlikImkb_klasik-siyah.001
Patern/DerinlikVip_Vip-1.001
Rapor/FiyatPenceresi.Xlsx
Sayfalar/ALTIN-1.001
Sayfalar/BEYAZ_TUM.001
Sayfalar/BLACK1.001
Sayfalar/BLACK3.001
Sayfalar/BLACK5.001
Sayfalar/BORSA-1.001
Sayfalar/BORSA-2.001
Sayfalar/BORSA-3.001
Sayfalar/BORSA-4.001
Sayfalar/DOVIZ-1.001
Sayfalar/DOVIZ-2.001
Sayfalar/DOVIZ-3.001
Sayfalar/DOVIZ-4.001
Sayfalar/DOVIZ-5.001
Sayfalar/GENEL (BEYAZ).001
Sayfalar/GENEL (SIYAH).001
Sayfalar/GENEL_SIYAH(Full HD).001
Sayfalar/IMKB 100 - 1.001
Sayfalar/IMKB 100 - 2.001
Sayfalar/IMKB DERINLIK.001
Sayfalar/IMKBTUM.001
Sayfalar/IMKBTUM2.001
Sayfalar/IMKBTUM3.001
Sayfalar/SEKTOR - 1.001
Sayfalar/VIOP-HISSE1.001
Sayfalar/VIOP-HISSE2.001
Sayfalar/VIP.001
Interop.WMPLib.dll
Interop.ShockwaveFlashObjects.dll
IdealVersiyonYenile.exe
IdealRestart.exe
IdealParaYedek.dll
ideal32.exe
ideal.exe.config
ideal.exe
Icon/zzdownload.png
Icon/zincir.png
Icon/zamansatis.png
Icon/yapistir.png
Icon/varant.png
Icon/temizle.png
Icon/takas.png
Icon/sistem.png
Icon/sil.png
Icon/sermaye.png
Icon/sembolsec.png
Icon/saat.png
Icon/remote.png
Icon/reklam01.png
Icon/portfoy24BE.png
Icon/portfoy24.png
Icon/portfoy16.png
Icon/Pgc.png
Icon/performans.png
Icon/pencereler.png
Icon/patern.png
Icon/para.png
Icon/ozellikler.png
Icon/ok.png
Icon/network.png
Icon/multi.png
Icon/mesaj.png
Icon/media.png
Icon/kopyala.png
Icon/kisayol.png
Icon/harita.png
Icon/help.png
Icon/huobi.png
Icon/icrypex.png
Icon/ideal.ico
Icon/ideal.png
Icon/info.png
Icon/iptalemir.png
Icon/isaretle.png
Icon/islemler.png
Icon/kademe.png
Icon/kademeBE.png
Icon/kaydet.png
Icon/kilit.png
